<meta name="csrf-token" content="{{ csrf_token() }}">

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<div id="calendar"></div>

<% if current_user.admin %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
