<meta name="csrf-token" content="{{ csrf_token() }}">

<p>
  <strong>Description:</strong>
  <%#= @event.description %>
</p>

<!-- <div id="calendar"></div> -->

<% if current_user.admin %>
  <button type="button" class="btn btn-info"><%= link_to 'Edit', edit_event_path(@event) %></button> |
<% end %>
<button type="button" class="btn btn-default"><%= link_to 'Back', events_path %></button>
