body {
//  background-color: #fff;
  color: #333;
  margin: 33px;
  min-height: 1200px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
//  background-image: image-url('/assets/Wood.jpg');
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-size: cover;
  background-repeat: no-repeat;
//  height: 100%;
}

//.content {
//  min-height: 100%;
//}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: white;
  padding: 10px;
  font-size: 11px;
}

a {
  color: white;

  &:visited {
    color: white;
  }

  &:hover {
    color: #fff;
//    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
//  border: 2px solid red;
//  padding: 7px 7px 0;
//  margin-bottom: 20px;
//  background-color: #f0f0f0;
  -webkit-animation:blink 0.8s ease-in-out infinite alternate;
  -moz-animation:blink 0.8s ease-in-out infinite alternate;
  animation:blink 0.8s ease-in-out infinite alternate;


  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
//    background-color: #c00;
//    color: #fff;
  }

  ul li {
    font-size: 12px;
//    list-style: square;
  }
}

label {
  display: block;
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}



.jumbotron {
			background: image-url('business.jpg') center no-repeat;
			background-size: cover;

}


.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

// .navbar-default {
//     background-color: #f8f8f8;
//     border-color: #e7e7e7;
// }

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
