<meta name="csrf-token" content="{{ csrf_token() }}">

<p class="appointment_description">
  <strong>Description:</strong>
  <%= @appointment.description %>
</p>

<p>予定入力方法: カレンダーをドラッグして任意の時間帯での予定登録ができます。</p>
<div id="calendar"></div>

<% if current_user.admin %>
  <button type="button" class="btn btn-info"><%= link_to 'Edit', edit_appointment_path(@appointment) %></button> |
<% end %>
<button type="button" class="btn btn-info"><%= link_to 'Back', appointments_path %></button>
